
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkcyan;
    font-style: arial;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: sticky;
    width: 100%;
    top: 0px;

}


.header-left h1 {
    margin: 0; 
}
nav{
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.home-button {
    background-color: white;
    color: black;
    height: 300px;
    padding: 10px;
}



footer{
    display: block;
    background-color: darkcyan;
    text-align: center;
}

.logo img{
    width: 100px
}

.redes{
    display: flex;
    justify-content: center;
}

.redes img{
    width: 100px;
}


.info{
    display: flex;
    justify-content: center;
}

.info p{
    margin: 10px;
}


.top{
    display: flex;
    justify-content: center;
}

.tituloForm{
    display: block;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
}
.datosDeContacto{
    display: inline-block;
    width: 500px;
    height: 400px;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
}
.datosDeContacto h2{
    margin-bottom: 50px;
}
.maps{
    display: inline-block;
    width: 1000px;
    height: 400px;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;

}

.formulario{
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: center;
    margin-bottom: 50px;

}
.form{
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkcyan;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
    

}
textarea{
    width: 200px;
    height: 100px;
}
.form label{
    margin: 10px;
}


.bicis img{
width: 80%;
margin: 5px;
height: 80%;
}

.mainshop {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font: 24px;
    font-style: arial;}

.catalogo{
    text-align: center;
    justify-content: space-between;
    margin: 20px;
    font-size: large;
    font-style: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid darkcyan;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
}


.carrito{
    width: 65%;
    border: 2px solid darkcyan;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
    flex: auto;
    
}

.bicis img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 5px darkcyan;
    cursor: pointer;
}

