.menu div{
    display: inline;
    padding: 10px;
    margin: 10px;
    text-align: end;
}

.menu{
    text-align: right;}

header {
    background-image: url("assets/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
}

footer{
    display: block;
    background-color: darkcyan;
    text-align: center;
}

.logo img{
    width: 100px
}

.redes{
    display: flex;
    justify-content: center;
}

.redes img{
    width: 100px;
}

.info{
    display: flex;
    justify-content: center;
}

.info p{
    margin: 10px;
}