
body {
    margin: 0;
    padding: 0;
    font-family: Black Arial, Helvetica, sans-serif;
    background-image: url(../assets/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    overflow-x: hidden;

}


/* CSS HEADER*/
header {
   background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 1000;

}

.logo1 img{
    width: 84px;
    margin-left: 15px;
}




.header-left h1 {
    margin: 0;
}
nav{
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}


.home-button {
    background-color: white;
    color: black;
    height: 300px;
    padding: 10px;
}
.nohome-button {
    background-color: lightgray;
    color: black;
    height: 300px;
    padding: 10px;
}

.home-button:hover {
    background-color: black;
    color: white;
    
}
.nohome-button:hover {
    background-color: black;
    color: white;
    
}
/* CSS FOOTER*/

footer{
    display: block;
    background-color: darkcyan;
    text-align: center;
/* FIXING FOOTER*/
    position: sticky;

}

.logo img{
    width: 50px;
}

.redes{
    display: flex;
    justify-content: center;

}

.redes img{
    width:50px;
    margin: 5px;
    padding-top: 10px;

}


/*CSS FORM*/


.info{
    display: flex;
    justify-content: center;
}

.info p{
    margin: 10px;
}


.top{
    display: flex;
    justify-content: center;
}

.tituloForm{
    display: block;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;
}
.datosDeContacto{
    display: inline-block;
    width: 500px;
    height: 400px;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;
}
.datosDeContacto h2{
    margin-bottom: 50px;
}
.tabladatos{
    flex-wrap: wrap;
}
.tabladatos td{
    width: 10%;
}
.maps{
    display: inline-block;
    width: 1000px;
    height: 400px;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;

}

.formulario{
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: center;
    margin-bottom: 50px;

}
.form{
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkcyan;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;
    

}
textarea{
    width: 200px;
    height: 100px;
}
.form label{
    margin: 10px;
}

/* CSS SHOP*/
#pagar {
    background-color: darkcyan;
    color: white;
}

.boton {
    background-color: darkcyan;
    color: white;
}

.boton:hover {
    transform: scale(1.1);
    transition: 0,5s;
    box-shadow: 0 0 5px darkcyan;
    cursor: pointer;
}


.bicis img{
    width: 400px;
    margin: 5px;
    height: 300px;
}

.mainshop {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 50%;
    margin: 20px;
    font-size: large;
    width: 75%;
    border: 2px solid darkcyan;
    padding: 25px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
}

.catalogo{
    margin: 20px;
    font-size: large;
    width: 75%;
    border: 2px solid darkcyan;
    padding: 25px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
}


.carrito{
    width: auto;
    position: fixed;
    top: 10%;
    right: 15px;
    margin: 20px;
    font-size: large;
    align-items: center;
    border: 2px solid darkcyan;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;

    
}

.bicis img:hover{
   transform: scale(1.1);
   
    transition: 0,5s;
    box-shadow: 0 0 5px darkcyan;
    cursor: pointer;
}



/* A PARTIR DE AQUI, ESTILOS DEL HOME*/

.historyposition{
    display: flex;
    justify-content: center;
}

.main_home{
        width: 100vw;
        
}

.quienesSomos {
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-right: 0px;
    border-radius: 50px;
    border-bottom: 15px;


}

#history {
    display: flex;
    text-align:center;
    color:darkcyan;
    border: 2px solid darkcyan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px darkcyan;
    margin: 10px;
    width: 90%;
    flex-direction: column;
}

#history p{
    color: white;
    text-align: center;
    text-decoration-thickness: 5px;
    background-color: darkcyan;
     /*Me permite cambiar el grosor del underline*/
    /*animation: infinite;
    animation-delay:2s;*/

}

figure {
    text-align: left;
}
.toppage{
    display: flex;
    width: 500px;;


}

.image-left{
    display: flex;
    width: 500px;
    animation: desplazar-imagenes 15s linear infinite;
}


.image-left  img{
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;
}


  @keyframes desplazar-imagenes {
0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
    }



.tittle{
    display: flex;
    flex-direction: column;
    width:30px;
    background-color: darkcyan
}

figcaption {
    margin-left: 0px;
    color:aliceblue;
}

.textdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh; /*FIXEO DE LOS CUADRADOS BLANCOS*/
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilos para las secciones */
.innova,
.calidad,
.comunidad,
.aventura,
.somos {
    padding: 15px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 5px darkcyan;
    margin: 10px 0;
    width: 80%;
    max-width: 800px;
    text-align: center;

}
.main_home {
    background-image:url(../assets/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

